In [1]:
import numpy as np
import pandas as pd

In [2]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
          'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
          'hours-per-week', 'native-country', 'label']

In [62]:
df = pd.read_csv('adult.data', names=columns, skipinitialspace=True)

In [23]:
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [24]:
df['label'].unique()

array(['<=50K', '>50K'], dtype=object)

In [63]:
# Use 0 and 1 as class labels
df.loc[ df['label'] == '<=50K', 'class'] = 0
df.loc[ df['label'] == '>50K', 'class'] = 1

In [26]:
df['class'].unique()

array([ 0.,  1.])

### Examine distinct values from each column

In [64]:
for col in df:
    if '?' in df[col].unique():
        num_missing = df[df[col] == '?'].shape[0]
        pct_missing = num_missing / float(df.shape[0])
        print '{} of {} missing values for {}%'.format(num_missing, col, 100*pct_missing)

1836 of workclass missing values for 5.63864746169%
1843 of occupation missing values for 5.66014557292%
583 of native-country missing values for 1.7904855502%

In [61]:
# Maybe don't do this?
# Replace all missing values with np.nan to use categoricals
for col in df:
    if '?' in df[col].unique():
        null_mask = (df[col] == '?')
        df.loc[null_mask, col] = np.nan

In [46]:
df['workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', nan, 'Self-emp-inc', 'Without-pay', 'Never-worked'], dtype=object)

In [65]:
df['workclass_cat'] = df['workclass'].astype('category')

In [66]:
df['workclass_cat'].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
dtype: int64